<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 发送消息 -->
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- 写入消息 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiteNote"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="31">
        <activity
            android:name=".sub.SubscribeAddActivity"
            android:exported="false"
            android:label="@string/title_activity_subscribe_add"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".LogDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_log_detail"
            android:theme="@style/Theme.LiteNote" />

        <receiver
            android:name=".desktopwidget.MIUIDesktopProductWidgetProvider"
            android:exported="true"
            android:label="@string/app_name_product"
            android:process=":widgetProvider">
            <meta-data
                android:name="miuiWidgetRefresh"
                android:value="exposure" />
            <meta-data
                android:name="miuiWidgetRefreshMinInterval"
                android:value="20000" />
            <meta-data
                android:name="miuiWidget"
                android:value="true" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="miui.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/m_i_u_i_desktop_product_widget_info" />
        </receiver>

        <activity
            android:name=".desktopwidget.MIUIDesktopProductWidgetConfigureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelpActivity2"
            android:exported="false"
            android:label="@string/title_activity_help2"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".MoreActivity"
            android:exported="false"
            android:label="@string/title_activity_more"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".AddTrainTicketActivity"
            android:exported="false"
            android:label="@string/title_activity_add_train_ticket"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".AddMaintenanceActivity"
            android:exported="false"
            android:label="@string/title_activity_add_maintenance"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".AddProductActivity"
            android:exported="false"
            android:label="@string/title_activity_add_product"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".HelpLLMActivity"
            android:exported="false"
            android:label="@string/title_activity_help_llmactivity"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".sub.NoteEditActivity"
            android:exported="false"
            android:label="@string/title_sub_activity_help_llmactivity"
            android:theme="@style/Theme.LiteNote" />

        <meta-data
            android:name="miuiWidgetVersion"
            android:value="2" />

        <receiver
            android:name=".desktopwidget.MIUIPickCodeWidgetProvider"
            android:exported="true"
            android:label="@string/app_name"
            android:process=":widgetProvider">
            <meta-data
                android:name="miuiWidgetRefresh"
                android:value="exposure" />
            <meta-data
                android:name="miuiWidgetRefreshMinInterval"
                android:value="20000" />
            <meta-data
                android:name="miuiWidget"
                android:value="true" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="miui.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/m_i_u_i_widget_provider_info" />
        </receiver>

        <activity
            android:name=".PostCardActivity"
            android:exported="false"
            android:label="@string/title_activity_post_card"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".CheckUpdateActivity"
            android:exported="false"
            android:label="@string/title_activity_check_update"
            android:theme="@style/Theme.LiteNote" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cn.tw.sar.note.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />
        <uses-native-library
            android:name="libOpenCL-car.so"
            android:required="false" />
        <uses-native-library
            android:name="libOpenCL-pixel.so"
            android:required="false" />

        <receiver
            android:name=".desktopwidget.DesktopCodeWidgetService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/desktop_code_m_widget_info" />
        </receiver>

        <activity
            android:name=".sub.PortAddActivity"
            android:exported="false"
            android:label="@string/title_activity_port_add"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".DeviceManagerActivity"
            android:exported="false"
            android:label="@string/title_activity_device_manager"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".PolicyActivity"
            android:exported="false"
            android:label="@string/title_activity_policy"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".MoreSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_more_settings"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".sub.ExpressAddActivity"
            android:exported="false"
            android:label="@string/title_activity_express_add"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".sub.CodeAddActivity"
            android:exported="false"
            android:label="@string/title_activity_code_add"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".RuleActivity"
            android:exported="false"
            android:label="@string/title_activity_rule"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".sub.AddCodeActivity"
            android:exported="false"
            android:label="@string/title_activity_add_code"
            android:theme="@style/Theme.LiteNote" />
        <activity
            android:name=".InitActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LiteNote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".reciever.MessageReciever"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.MessageService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="org.anymobile.test.service.IMICHAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="用于监听短信提取取件码" />
        </service>
        <service
            android:name=".service.FocusService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:label="取件码服务">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="用于显示取件码" />
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LiteNote" />
    </application>

</manifest>